intruder_dirname="arsenal" # required
intruder_ssh_port=22 # required
intruder_ssh_listen="0.0.0.0" # required
intruder_rsa_pub_key="ssh-rsa AAAAB... root@localhost" # required
vps_remote_user="vpsuser" # VPS User
vps_remote_host="200.200.200.200" # VPS Host // tunnel SSH needed
vps_remote_ssh_port=443 # VPS Port // tunnel SSH needed
vps_dirname="arsenal" # VPS Dirname
cloudflare_domain="subdomain.domain.tld" # Cloudflare Domain // tunnel HTTP needed
cloudflare_path_proxy="/path" # path of proxy HTTP // tunnel HTTP needed
cloudflare_creds_proxy="userproxy:passwdproxy" # Creds of proxy // tunnel HTTP needed

# configuration variables of cloudflare-subdom-config.sh
EMAIL="steve@example.com" # email cloudflare account
KEY="08n46q4ofo0v5pc3u3g3eu517o69axu8s6ml4" # key cloudflare account
ZONE_ID="8b717207bcee4047af2e9dff95832996" # zone id cloudflare account
TYPE="A" # type of record
NAME="${cloudflare_domain%%.*}" # SUBDOMAIN.domain.tld NOT EDIT
CONTENT="$vps_remote_host" # IP of your server NOT EDIT
PROXIED="true" # proxed cloudflare
TTL="1" # TTL cloudflare
